@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Andrei works at DFUNK, where they're looking for a better database system. We thought that sounded like perfect timing, since we needed a project for this class and here it is! :)</p>
