@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Dalslandsgade 8<br />
    Copenhagen 2300<br />
    @*<abbr title="Phone">P:</abbr>
    425.555.0100*@
</address>

<address>
    <strong>Bjarni:</strong>   <a href="mailto:Bjarni_86@hotmail.com">Write me</a><br />
    <strong>Andrei:</strong> <a href="mailto:Marketing@example.com">Email incoming soon!</a>
</address>