@{
    ViewBag.Title = "DFUNK";
}

<div class="jumbotron">
    <h1>Databases 2015 KEA</h1>
    <p class="lead">This is a project made by Bjarni Winther Hansen and Andrei Pirvan in autumn 2015, KEA.</p>
    <p><a href="http://DFUNK" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>DFUNK</h2>
        <p>
            DFUNK stands for "Dansk Flygtningejælp Ungdom".
        </p>
        <p><a class="btn btn-default" href="http://www.DFUNK.dk">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bjarni Winther Hansen</h2>
        <p>29 year old and Faroese, from Argir.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Argir">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Andrei Pirvan</h2>
        <p>From Brasov Romania.</p>
        <p><a class="btn btn-default" href="https://en.wikipedia.org/wiki/Bra%C8%99ov">Learn more &raquo;</a></p>
    </div>
</div>